#search {
    display: flex;
    border-bottom: 1px solid var(--white200);

    .search__inner {
        width: 100%;
        padding: 26.9px 40px;

        label {
            display: none;
        }

        .search__input {
            width: 100%;
            background-color: var(--white);
            border: 1px solid var(--white200);
            border-radius: 50px;
            padding: 10px 20px;
            color: var(--black100);
            font-family: var(--mainfont-Neo);
        }

        .search__input::-webkit-input-placeholder {
            font-family: var(--mainfont-Neo);
        }
    }

    .mobile__menu {
        padding: 24px 10px 18px 21px;
        display: none;

        div {
            width: 50px;
            height: 50px;
            border: 3px solid var(--point-Lcolor);
            border-radius: 5px;
            padding: 0 3px;

            span {
                width: 30px;
                height: 3px;
                background-color: var(--point-Lcolor);
                display: inline-block;
                border-radius: 3px;
                margin-top: 21px;
                margin-left: 4px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 7px;
                    width: 30px;
                    height: 3px;
                    border-radius: 3px;
                    background-color: var(--point-Lcolor);
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 30px;
                    height: 3px;
                    border-radius: 3px;
                    background-color: var(--point-Lcolor);
                }
            }
        }
    }
}

@media (max-width: 800px) {
    #search {
        .search__inner {
            padding: 26.9px 22px 26.9px 15px;

            .search__input {
                border: 2px solid var(--point-Lcolor);
            }

            .search__input::-webkit-input-placeholder {
                color: var(--point-Lcolor);
            }
        }

        .mobile__menu {
            display: block;
        }
    }
}